---
layout: null
---

@font-face {
  font-family: TNO;
  src: url("../font/FZRuiZHJW_Zhun.TTF");
}

@font-face {
  font-family: TNO-bold;
  src: url("../font/FZRuiZHJW_Zhong.TTF");
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: TNO-bold, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

blockquote {
  font-family: 'Lora', 'Times New Roman', serif;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: {{ site.navbar-border-col | default: "#59c7c2" }};
  padding-left: 1em;
}

.post-preview {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: {{ site.navbar-border-col | default: "#59c7c2" }};
}